@{
    ViewData["Title"] = "Users list";
}

@section Components
{
    @await Html.PartialAsync("Components/UsersSearchFilter")
}

@section Scripts
{
    <script src="~/dist/js/user/bundle.js" asp-append-version="true"></script>
}

<div id="users-search" v-cloak>
    @*<b-alert variant="danger" :show="!!errorMessage">{{errorMessage}}</b-alert>*@

    <users-search-filter ref="searchFilter"></users-search-filter>
    
    <div class="row">
        <div class="col">
            <b-button v-on:click="findClick">
                <slot>Найти</slot>
                <b-overlay :show="false" no-wrap>
                </b-overlay>
            </b-button>
        </div>
    </div>
</div>
