@{
    ViewData["Title"] = "Users list";
}

<div id="user-table" v-cloak>
    @*<b-alert variant="danger" :show="!!errorMessage">{{errorMessage}}</b-alert>*@
    <b-card class="mt-0 under-tab-card">
        <b-card-text>
            <b-container fluid class="pt-3">
                <b-row cols="2">
                    <b-col>
                        <b-row>
                            <b-col cols="4" class="text-right">
                                Дата с:
                            </b-col>
                            <b-col>
                                <b-datepicker @*v-model="filterParams.fromParcelDate"
                                              v-on:input="loadFilterStatistics"*@
                                              start-weekday="1"
                                              placeholder="Выберите дату"
                                              nav-button-variant="primary"></b-datepicker>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col cols="4" class="text-right">
                                Site scope:
                            </b-col>
                            <b-col class="mt-2">
                                <template v-if="!!filterStatistics.managers">
                                    <v-select class="option-text"
                                              v-model="filterParams.manager"
                                              placeholder="Все"
                                              :options="filterStatistics.managers"
                                              label="text"
                                              :reduce="p => p.value">
                                        <template slot="no-options">
                                            Не найдено
                                        </template>
                                    </v-select>
                                </template>
                                <template v-else>
                                    Ничего не найдено
                                </template>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col cols="4" class="text-right">
                                Бизнес-юнит:
                            </b-col>
                            <b-col class="mt-2">
                                <template v-if="!!filterStatistics.businessUnits">
                                    <v-select class="option-text"
                                              v-model="filterParams.businessUnitId"
                                              placeholder="Все"
                                              :options="filterStatistics.businessUnits"
                                              label="text"
                                              :reduce="p => p.value">
                                        <template slot="no-options">
                                            Не найдено
                                        </template>
                                    </v-select>
                                </template>
                                <template v-else>
                                    Ничего не найдено
                                </template>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col>
                        <b-row>
                            <b-col col md="auto">
                                <b-checkbox v-model="filterParamsChecked.toParcelDate"
                                            v-on:change="(!!filterParams.toParcelDate) ? loadFilterStatistics : () => {}">по:</b-checkbox>
                            </b-col>
                            <b-col cols="8">
                                <b-datepicker id="returnToDatePicker"
                                              v-bind:disabled="!filterParamsChecked.toParcelDate"
                                              v-model="filterParams.toParcelDate"
                                              v-on:input="loadFilterStatistics"
                                              start-weekday="1"
                                              placeholder="Выберите дату"
                                              nav-button-variant="primary"></b-datepicker>
                            </b-col>

                        </b-row>
                        <b-row class="mt-2">
                            <b-col>
                                <b-checkbox inline
                                            v-model="filterParams.onlyNotLost"
                                            v-on:change="loadFilterStatistics">
                                    Не показывать окончательно потерянные: {{filterStatistics.lostCount}}&nbsp;шт
                                </b-checkbox>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <b-checkbox inline
                                            v-model="filterParams.onlyNotMissing"
                                            v-on:change="loadFilterStatistics">
                                    Не показывать потерянные: {{filterStatistics.missingCount}}&nbsp;шт
                                </b-checkbox>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <b-checkbox inline
                                            v-model="filterParams.onlyNotDropOffToTarget"
                                            v-on:change="loadFilterStatistics">
                                    Не показывать самопривозные: {{filterStatistics.dropOffToTargetCount}}&nbsp;шт
                                </b-checkbox>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <b-checkbox inline
                                            v-model="filterParams.onlyWithBadReturnTerms"
                                            v-on:change="loadFilterStatistics">
                                    Только с нарушением сроков возврата: {{filterStatistics.isBadReturnTermsCount}}&nbsp;шт
                                </b-checkbox>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-card class="my-2">
                            <b-card-text>
                                <p class="mb-2">Признаки качества отправления:</p>
                                <template v-if="(!!filterStatistics.parcelQualities) ? (filterStatistics.parcelQualities.length > 0) : false">
                                    <b-checkbox-group class="pq-filter-checkbox-group"
                                                      stacked
                                                      v-model="filterParams.qualityTypes"
                                                      :options="filterStatistics.parcelQualities"
                                                      v-on:change="updateTotalCount"></b-checkbox-group>
                                </template>
                                <template v-else>
                                    Ничего не найдено
                                </template>
                            </b-card-text>
                        </b-card>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-card class="my-2">
                            <b-card-text>
                                <b-row>
                                    <b-col>
                                        <p class="mb-2">Регион:</p>
                                        <template v-if="!!filterStatistics.regions">
                                            <v-select class="option-text"
                                                      v-model="filterParams.region"
                                                      :options="filterStatistics.regions"
                                                      label="text"
                                                      :reduce="p => p.value">
                                                <template slot="no-options">
                                                    Не найдено
                                                </template>
                                            </v-select>
                                        </template>
                                        <template v-else>
                                            Ничего не найдено
                                        </template>
                                    </b-col>

                                    <b-col>
                                        <p class="mb-2">Город:</p>
                                        <template v-if="!!filterStatistics.cities">
                                            <v-select class="option-text"
                                                      v-model="filterParams.city"
                                                      :options="filterStatistics.cities"
                                                      label="text"
                                                      :reduce="p => p.value">
                                                <template slot="no-options">
                                                    Не найдено
                                                </template>
                                            </v-select>
                                        </template>
                                        <template v-else>
                                            Ничего не найдено
                                        </template>
                                    </b-col>
                                    <b-col>

                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>
                                        <p class="mb-2">ПВЗ:</p>
                                        <template v-if="!!filterStatistics.parcelshops">
                                            <vue-multiselect id="parcelshopsSelect"
                                                             select-Label=""
                                                             selected-Label=""
                                                             deselect-Label=""
                                                             placeholder="Начните вводить код ПВЗ"
                                                             v-model="filterParams.parcelshops"
                                                             :options="filterStatistics.parcelshops.map(ps => ps.code)"
                                                             :custom-label="getParcelshopLabel"
                                                             :multiple="true"
                                                             :close-on-select="false"
                                                             :clear-on-select="false"
                                                             :hide-selected="true"
                                                             :limit="15"
                                                             :options-limit="15"
                                                             :show-no-results="false">
                                            </vue-multiselect>
                                        </template>
                                        <template v-else>
                                            Ничего не найдено
                                        </template>
                                    </b-col>
                                    <b-col>
                                        <p class="mb-2">Дополнительные фильтры:</p>
                                        <template v-if="!!filterStatistics.additionalFilters">
                                            <vue-multiselect id="additionalFilters"
                                                             select-Label=""
                                                             selected-Label=""
                                                             deselect-Label=""
                                                             placeholder="Укажите дополнительные фильтры"
                                                             :custom-label="getAdditionalFilterLabel"
                                                             v-model="filterParams.additionalFilters"
                                                             :options="filterStatistics.additionalFilters.map(fltr => fltr.key)"
                                                             :multiple="true"
                                                             :close-on-select="false"
                                                             :clear-on-select="false"
                                                             :hide-selected="true"
                                                             :show-no-results="false">
                                            </vue-multiselect>
                                        </template>
                                        <template v-else>
                                            Ничего не найдено
                                        </template>
                                    </b-col>
                                    <b-col>
                                    </b-col>
                                </b-row>
                            </b-card-text>
                        </b-card>
                    </b-col>
                </b-row>
                <b-row class="mt-3 text-right" align-h="end">
                    <b-row cols="2" class="mr-3">
                        Строк на странице:
                    </b-row>
                    <b-col cols="4" class="text-left">
                        <b-radio-group buttons
                                       v-model="selectedFilterPageSize">
                            <b-radio :value="10">10</b-radio>
                            <b-radio :value="50">50</b-radio>
                            <b-radio :value="100">100</b-radio>
                            @*<b-input placeholder="100"></b-input>*@
                        </b-radio-group>
                    </b-col>
                    <b-col cols="4">
                        <b-overlay style="margin-left: 40%;"
                                   :show="filterTotalCountUpdating">
                            Всего: {{filterStatistics.totalCount}}
                        </b-overlay>
                    </b-col>
                    <b-col cols="2">
                        <b-button v-on:click="reloadFilteredData"
                                  v-bind:disabled="parcelsLoading">Применить</b-button>
                    </b-col>
                </b-row>
            </b-container>
        </b-card-text>
        <b-overlay :show="filtersUpdating" no-wrap>
        </b-overlay>
    </b-card>

    <div class="tab-content">
        <b-card class="my-2 w-100" header="Отчеты">
            <b-button-toolbar>
                <b-button-group>
                    <b-button>
                        <slot>Заказы, отгруженные из ПВЗ(FM)</slot>
                        <b-overlay :show="false" no-wrap>
                        </b-overlay>
                    </b-button>
                </b-button-group>
                <b-button-group class="px-2">
                    <b-button>
                        <slot>
                            Выгрузить в Excel
                        </slot>
                        <b-overlay :show="false" no-wrap>
                        </b-overlay>
                    </b-button>
                </b-button-group>
            </b-button-toolbar>
        </b-card>
    </div>
</div>
