<div class="buttonContainer">
    <i-button (click)="alertFunc('Проверка 1')" label="Новый компонент 1" icon="fa-plus-square" [isDisabled]="true"></i-button>
    <i-button (click)="alertFunc('Проверка 2')" label="Новый компонент 2" icon="fa-minus-square"></i-button>
    <i-button (click)="alertFunc('Проверка 3')" label="Новый компонент 3" [secondary]="true"></i-button>
    <i-button (click)="alertFunc('Проверка 4')" label="Новый компонент 4" [primary]="true" [isDisabled]="false"></i-button>
    <i-button (click)="alertFunc('Проверка 5')" icon="fa-minus-square" [secondary]="true"></i-button>
</div>
