<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <DeleteExistingFiles>True</DeleteExistingFiles>
        <ExcludeApp_Data>True</ExcludeApp_Data>
        <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <PublishProvider>FileSystem</PublishProvider>
        <PublishUrl>C:\publish\Indusoft.Web.Angular.Example - staging</PublishUrl>
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <TargetFramework>netcoreapp3.1</TargetFramework>
        <SelfContained>true</SelfContained>
        <_IsPortable>true</_IsPortable>
        <SiteUrlToLaunchAfterPublish />
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    </PropertyGroup>
    <ItemGroup>
        <None Include="_publish"/>
        <None Include="config"/>
        <Content Remove="C:\**\*\*appsettings.json" />
        <Content Remove="C:\**\*\*nlog.config" />
    </ItemGroup>
</Project>
