<br />

<h1>Simple example</h1>
<dropdown-button buttonText="Button"
                 [dropdownItems]="dropdownItems"
                 [buttonIconClass]="'fas fa-angle-double-left'">

</dropdown-button>

<h1>Simple text example</h1>
<dropdown-button buttonText="Button"
                 [dropdownItems]="dropdownItems">

</dropdown-button>

<h1>Simple icon example</h1>
<dropdown-button [dropdownItems]="dropdownItems"
                 [buttonIconClass]="'fas fa-angle-double-left'">

</dropdown-button>

<h1>Disabled example</h1>
<dropdown-button buttonText="Button"
                 [dropdownItems]="dropdownItems"
                 [buttonIconClass]="'fas fa-angle-double-left'"
                 [isDisabled]="true">

</dropdown-button>
