:root {
    --primary-grey-light: #F7F7F7;
    --primary-grey: #AEAEB7;
    --primary-grey-dark: #6F6F77;
    --primary-grey-darker: #2D2D34;
    --body-font-color: #F2F2FC;
    --disable-font-color: #6F6F77;
    --primary-border-color: #676a70;
    --secondary-border-color: #AEAEB7;
    --positive-default-color: #6da25c;
    --warning-default-color: #c58827;
    --negative-default-color: #cb594f;
    --information-default-color: #707074;
    --header-title-color: #F7F7F7;
    --header-breadcrumbs-color: #4f4f57;
    --header-icons-color: #EDEDF6;
    --header-icons-hover: #B6CB88;
    --header-font-hover: #4f4f57;
    --header-background: #2D2D34;
    --header-border: #AAC275;
    --submenu-font-color: #EDEDF6;
    --submenu-font-active: #F7F7F7;
    --submenu-font-hover: #F7F7F7;
    --submenu-background: #4f4f57;
    --submenu-item-active: #9bb26c;
    --submenu-item-hover: #9bb26c;
    --button-background-color: #4f4f57;
    --button-background-hover: #9bb26c;
    --button-background-active: #B6CB88;
    --button-background-disabled: #84848C;
    --button-font-color: var(--body-font-color);
    --button-font-hover: #F7F7F7;
    --button-font-active: #2D2D34;
    --button-font-disabled: #AEAEB7;
    --button-background-color-secondary: #B6CB88;
    --button-background-hover-secondary: #758A58;
    --button-background-active-secondary: #9bb26c;
    --button-font-color-secondary: #2D2D34;
    --button-font-hover-secondary: #EDEDF6;
    --button-font-active-secondary: #2D2D34;
    --form-close-button-background: #d5d7dc;
    --form-close-button-color: #333538;
    --input-background-color: transparent;
    --input-background-hover: transparent;
    --input-background-focus: transparent;
    --input-background-disabled: #84848C33;
    --input-font-hover: #E3E6E8;
    --input-font-focus: #E3E6E8;
    --input-font-disabled: #9499a5;
    --form-font-color: #F2F2FC;
    --tab-background-color: transparent;
    --tab-background-hover: #9bb26c;
    --tab-background-active: #9bb26c;
    --tab-background-disabled: #B8BBC0;
    --tab-font-color: #F7F7F7;
    --tab-font-hover: #F7F7F7;
    --tab-font-active: #F7F7F7;
    --tab-font-disabled: #707074;
    --checkradio-border-default: #707074;
    --checkradio-border-hover: #9bb26c;
    --checkradio-border-active-hover: #F7F7F7;
    --checkradio-background-default: transparent;
    --checkradio-background-active: #9bb26c;
    --checkradio-background-disabled: #c5db9a;
    --checkradio-font-active: #4F4F57;
    --checkradio-font-disabled: #F7F7F7;
    --tree-item-hover: #9bb26c;
    --tree-font-hover: #F7F7F7;
    --tree-item-active: #9bb26c;
    --tree-font-active: #F7F7F7;
    --tree-font-color: #F7F7F7;
    --tree-icon-hover: #9bb26c;
    --tree-background-active: #9bb26c;
    --tree-background-hover: #9bb26c;
    --tree-icon-active: #F7F7F7;
    --tree-icon-active-hover: #9bb26c;
    --dropdown-background: #4F4F57;
    --dropdown-item-hover: #d5d7dc;
    --calendar-item-active: #9bb26c;
    --calendar-item-hover: #9bb26c;
    --calendar-font-active: #F7F7F7;
    --calendar-time-btn-color: #6F6F77;
    --calendar-time-btn-hover: #AAC275;
    --datepicker-input-background-color: transparent;
    --datepicker-input-background-hover: transparent;
    --datepicker-input-background-focus: transparent;
    --datepicker-input-background-disabled: #F3F3F3;
    --datepicker-input-font-color: #F3F3F3;
    --datepicker-input-font-hover: #F3F3F3;
    --datepicker-icon-color: #F3F3F3;
    --datepicker-icon-hover: #AAC275;
    --datepicker-input-font-focus: var(--datepicker-input-font-color);
    --datepicker-input-font-disabled: #9499a5;
    --datepicker-dropdown-background: #4F4F57;
    --datepicker-dropdown-item-hover: #AEAEB7;
    --mobile-menu-background: #d5d7dc;
    --form-background-color: #2d2d34;
    --tree-body-background: #4F4F57;
    --overlay-container-background: rgba(0,0,0,.5);
    --button-shadow: 0px 0px 1px rgba(51,53,56,0);
    --checkradio-shadow: 0 0 3px 3px rgba(0,0,0,.25);
    --tree-body-shadow: 5px 0px 5px rgba(0,0,0,.25);
    --overlay-panel-shadow: 0px 0px 10px 5px #2D2D3433;
    --dropdown-menu-shadow: 0px 8px 16px 0px rgba(0,0,0,.15);
    --tab-label-shadow: -1px -1px 3px hsla(216,4%,53%,.25);
    --datepicker-shadow: 0px 4px 4px rgba(0,0,0,.25);
    --grid-row-odd: #6F6F77;
    --grid-row-even: #84848C;
    --grid-row-hover: #9bb26c;
    --grid-main-background: #4f4f57;
    --grid-row-active: #9bb26c;
    --grid-row-active-hover: #c1d1a2;
    --grid-dropdown-background-color: #4F4F57;
    --grid-dropdown-background-hover: #AAC275;
    --grid-input-background-color: transparent;
    --grid-input-background-hover: transparent;
    --grid-input-background-disabled: transparent;
    --grid-body-border: 1px solid #AEAEB7;
    --grid-header-border: 1px solid transparent;
    --grid-header-bottom-border: 1px solid #AEAEB7;
    --grid-footer-border: 1px solid transparent;
    --grid-footer-top-border: 1px solid #AEAEB7;
    --grid-content-border: 1px solid transparent;
    --grid-row-bottom-border: 1px solid #AEAEB7;
    --grid-last-row-bottom-border: 0;
    --grid-col-border: #AEAEB7;
    --grid-col-border-hover: #F7F7F7;
    --grid-body-font-color: #F7F7FF;
    --grid-body-font-hover: #F7F7F7;
    --grid-body-font-active: #F7F7F7;
    --grid-body-font-active-hover: #F7F7F7;
    --grid-input-font-color: #F7F7F7;
    --grid-input-font-hover: #F7F7F7;
    --grid-input-font-disabled: #AEAEB7;
    --grid-placeholder-font-color: #AEAEB7;
    --grid-header-font-hover: #9bb26c;
    --grid-header-font-color: #F7F7FF;
    --grid-footer-font-color: #F7F7FF;
    --grid-paging-font-color-disabled: #6F6F77;
    --grid-paging-font-color-active: #F7F7FF;
    --grid-paging-background-color-active: #9bb26c;
    --grid-paging-font-color-hover: #f7f7f7;
    --grid-paging-background-color-hover: #9bb26c;
    --grid-filter-background-hover: #9bb26c;
    --grid-filter-icon-hover: #4F4F57;
    --grid-filter-shadow: rgb(0,0,0,.25);
    --grid-filter-background-color: transparent;
    --grid-filter-icon-color: #F7F7F7;
    --grid-button-background-color: #6F6F77;
    --grid-button-background-hover: #879E61;
    --grid-button-background-active: #CBCBD5;
    --grid-button-background-disabled: #F2F4F8;
    --grid-button-font-hover: #f7f7f7;
    --grid-button-font-active: #4F4F57;
    --grid-button-font-disabled: #6F6F77;
    --grid-checkradio-border-default: #F2F2FC;
    --grid-checkradio-border-hover: #f7f7f7;
    --grid-checkradio-border-active-hover: #f7f7f7;
    --grid-checkradio-background-default: transparent;
    --grid-checkradio-background-active: #AAC275;
    --grid-checkradio-background-disabled: #D3E1B7;
    --grid-checkradio-font-active: #2D2D34;
    --grid-checkradio-font-disabled: #9BB26C;
    --grid-checkradio-size: 15px;
    --grid-checkbox-border-radius: 0;
    --grid-checkradio-shadow: 0 0 3px 3px rgba(0, 0, 0, .25);
    --select-container-background-color: transparent;
    --select-container-font-color: #F7F7F7;
    --select-container-border-color: #F7F7F7;
    --select-container-shadow: none;
    --select-placeholder-font-color: #676A70;
    --select-container-diasbled-background-color: #F7F7F7;
    --select-container-diasbled-font-color: #9499a5;
    --select-value-selected-background-color: #D5D7DC;
    --select-value-selected-font-color: #2D2D34;
    --select-icon-bg-color-hover: #AAC275;
    --select-dropdown-bg-color: #4F4F57;
    --select-dropdown-shadow: 0 1px 3px 1px rgb(0,0,0,.25);
    --select-dropdown-border-color: #B8BBC0;
    --select-dropdown-group-selected-bg-color: #D5D7DC;
    --select-dropdown-option-marked-font-color: #EDEDF6;
    --select-value-selected-bg-color: #9BB26C;
    --select-dropdown-option-selected-bg-color: #9BB26C;
    --select-dropdown-option-marked-bg-color: #758A58;
    --scrollbar-thumb-bg-color: #81858B;
    --scrollbar-thumb-bg-color-hover: #676A70;
    --scrollbar-thumb-bg-color-active: #2D2D34;
    --dropdown-background-color: #4F4F57;
    --dropdown-background-hover: #F7F7F7;
    --dropdown-font-color: #F2F2FC;
    --dropdown-font-hover: #2D2D34;
    --dropdown-icon-hover: #2D2D34;
    --dropdown-background-active: #6F6F77;
    --dropdown-font-active: #F7F7F7;
    --dropdown-icon-active: #F7F7F7;
    --dropdown-icon-active-hover: #CBCBD5;
    --dropdown-body-background: #CBCBD5;
    --cdk-container-background: #2D2D34;
    --cdk-font-color: #F7F7F7;
}

body {
    background-color: #303030!important;
}
