:root {
    --side-containers-width: 24vw;
    --side-containers-mobile: 10vw;
    --side-container-middle: 40vw;
    --sm-icon-size: 15px;
    --md-icon-size: 30px;
    --lg-icon-size: 40px;
    --primary-grey-light: #F3F3F3;
    --primary-grey: #D5D7DC;
    --primary-grey-dark: #B8BBC0;
    --primary-grey-darker: #676A70;
    --primary-border-color: #676A70;
    --secondary-border-color: #D5D7DC;
    --disable-font-color: #D5D7DC;
    --header-title-color: #4f4f57;
    --header-breadcrumbs-color: #4f4f57;
    --header-icons-color: #4f4f57;
    --header-icons-hover: #c5db9a;
    --header-background: #F3F3F3;
    --header-border: #D5D7DC;
    --header-font-hover: #F3F3F3;
    --submenu-font-color: #D5D7DC;
    --submenu-font-active: #F3F3F3;
    --submenu-font-hover: #F3F3F3;
    --submenu-background: #4f4f57;
    --submenu-item-active: #9bb26c;
    --submenu-item-hover: #9bb26c;
    --button-background-color: #D5D7DC;
    --button-background-hover: #9bb26c;
    --button-background-active: #c5db9a;
    --button-background-disabled: #F3F3F3;
    --button-font-hover: #F3F3F3;
    --button-font-active: #4f4f57;
    --button-font-disabled: #D5D7DC;
    --button-border-radius: 2px;
    --button-shadow: 0px 0px 1px rgba(51, 53, 56, .0);
    --input-background-color: transparent;
    --input-background-hover: transparent;
    --input-background-focus: transparent;
    --input-background-disabled: #F3F3F3;
    --input-font-hover: #2a2b2f;
    --input-font-focus: #2a2b2f;
    --input-font-disabled: #9499a5;
    --input-border-radius: 2.35px;
    --tab-background-color: #F3F3F3;
    --tab-background-hover: #9bb26c;
    --tab-background-active: #9bb26c;
    --tab-font-hover: #F3F3F3;
    --tab-font-active: #F3F3F3;
    --dropdown-background: #F3F3F3;
    --dropdown-item-hover: #D5D7DC;
    --mobile-menu-background: #D5D7DC;
    --body-font-color: #2a2b2f;
    --form-background-color: #FFFFFF;
    --form-border-radius: 2.35px;
    --form-close-button-background: #D5D7DC;
    --form-close-button-color: #333538;
    --min-offset: 5px;
    --calendar-item-active: #9bb26c;
    --calendar-item-hover: #9bb26c;
    --calendar-font-active: #F3F3F3;
    --grid-main-background: #FFFFFF;
    --grid-row-odd: white;
    --grid-row-even: #F3F3F3;
    --grid-row-hover: #9bb26c;
    --grid-row-bottom-border: 1px solid #D5D7DC;
    --grid-col-border: #D5D7DC;
    --grid-col-border-hover: #F2F4F8;
    --grid-border-hover: #F3F3F3;
    --grid-border-radius: 2.35px;
    --grid-body-border: 1px solid #D5D7DC;
    --grid-body-border-radius: 2.35px;
    --grid-body-font-color: #2a2b2f;
    --grid-body-font-hover: #F2F4F8;
    --grid-input-font-color: #4f4f57;
    --grid-placeholder-font-color: #D5D7DC;
    --grid-content-border: 1px solid transparent;
    --grid-font-color: #2a2b2f;
    --grid-header-border: 1px solid transparent;
    --grid-header-bottom-border: 1px solid #D5D7DC;
    --grid-header-font-hover: #9bb26c;
    --grid-header-font-color: #2a2b2f;
    --grid-dropdown-color: #F3F3F3;
    --grid-dropdown-hover: #D5D7DC;
    --grid-dropdown-background-color: #F2F4F8;
    --grid-dropdown-background-hover: #D5D7DC;
    --grid-font-color-hover: #F3F3F3;
    --grid-font-color-disabled: #9499a5;
    --grid-font-color-active: #9bb26c;
    --grid-filter-background-hover: #9bb26c;
    --grid-filter-icon-hover: #F3F3F3;
    --grid-filter-shadow: rgb(0,0,0,.25);
    --grid-filter-background-color: transparent;
    --grid-filter-icon-color: #2a2b2f;
    --grid-input-background-color: transparent;
    --grid-input-background-hover: transparent;
    --grid-input-background-disabled: transparent;
    --grid-input-font-color: black;
    --grid-input-font-hover: black;
    --grid-input-font-disabled: #D5D7DC;
    --grid-input-radius: 2.35px;
    --grid-button-radius: 2.35px;
    --grid-paging-font-color-disabled: #9499a5;
    --grid-paging-font-color-active: #F3F3F3;
    --grid-paging-background-color-active: #9bb26c;
    --grid-paging-font-color-hover: #F3F3F3;
    --grid-paging-background-color-hover: #9bb26c;
    --grid-footer-border: 1px solid transparent;
    --grid-footer-top-border: 1px solid #D5D7DC;
    --grid-footer-font-color: #4f4f57;
    --tree-item-hover: #9bb26c;
    --tree-font-hover: var(--n100);
    --tree-item-active: #9bb26c;
    --tree-font-active: #F3F3F3;
    --tree-body-background: #F3F3F3;
    --tree-font-color: #4f4f57;
    --tree-body-shadow: 5px 0px 5px rgba(0, 0, 0, .25);
    --tree-icon-hover: #9bb26c;
    --tree-background-active: #9bb26c;
    --tree-icon-active: #F3F3F3;
    --tree-icon-active-hover: #9bb26c;
    --checkbox-border-default: #707074;
    --checkbox-border-hover: #9bb26c;
    --checkbox-border-active-hover: #9bb26c;
    --checkbox-background-default: transparent;
    --checkbox-background-active: #9bb26c;
    --checkbox-background-disabled: #c5db9a;
    --checkbox-font-active: #F3F3F3;
    --checkbox-font-disabled: #F3F3F3;
    --checkbox-size: 15px;
    --checkbox-border-radius: 1.15px;
    --checkbox-shadow: 0 0 3px 3px rgba(0, 0, 0, .25);
    --min-line-height: 20px;
}

body {
    color: #2a2b2f;
}
