<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log"
      internalLogToConsoleError="true"
      throwExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="jsonFile" xsi:type="File"
	    archiveAboveSize="5242880"
      archiveNumbering="Sequence"
      maxArchiveFiles="10"
      archiveEvery="Day"
      concurrentWrites="true"
      keepFileOpen="false"
	    fileName="${basedir}/logs/${machinename}-${shortdate}.json" >
      <layout xsi:type="JsonLayout" >
        <attribute name="environment" layout="${var:HERMESRUSSIA_ENVIRONMENT}"/>
        <attribute name="application" layout="${var:HERMESRUSSIA_APPLICATION}"/>
        <attribute name="machinename" layout="${machinename}"/>

        <attribute name="level" layout="${uppercase:${level}}"/>
        <attribute name="date" layout="${longdate}"/>
        <attribute name="session-id" layout=" ${aspnet-item:variable=HERMESRUSSIA_SESSION_ID}"/>
        <attribute name="call-site" layout="${callsite}"/>

        <attribute name="request-url" layout="${aspnet-request-url}"/>
        <attribute name="request-ip" layout="${aspnet-request-ip}"/>
        <attribute name="request-referrer" layout="${aspnet-request-referrer}"/>
        <attribute name="request-method" layout="${aspnet-request-method}"/>
        <attribute name="request-headers" layout="${aspnet-item:variable=HERMESRUSSIA_HEADERS}"/>
        <attribute name="request-body" layout="${aspnet-item:variable=HERMESRUSSIA_BODY}"/>

        <attribute name="client-ip" layout="${aspnet-request-ip}"/>
        <attribute name="client-referrer" layout="${aspnet-request-referrer}"/>

        <attribute name="user-agent" layout="${aspnet-request-useragent}"/>
        <attribute name="user-id" layout="${aspnet-item:variable=HERMESRUSSIA_IDENTITY}"/>

        <attribute name="message" layout="${message}"/>
        <attribute name="exception-message" layout="${onexception:inner=${exception:Message}}"/>
        <attribute name="exception" layout="${exception:format=ToString}"/>
        <attribute name="status-code" layout=" ${aspnet-item:variable=HERMESRUSSIA_CODE}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="Console" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole -->

    <logger name="*" minlevel="Error" writeTo="jsonFile" />
  </rules>
</nlog>