<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log"
      internalLogToConsoleError="true"
      throwExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="jsonFile" xsi:type="File"
	    archiveAboveSize="5242880"
      archiveNumbering="Sequence"
      maxArchiveFiles="10"
      archiveEvery="Day"
      concurrentWrites="true"
      keepFileOpen="false"
	    fileName="${basedir}/logs/${machinename}-${shortdate}.json" >
      <layout xsi:type="JsonLayout" >
        <attribute name="date" layout="${longdate}"/>
        <attribute name="level" layout="${uppercase:${level}}"/>
        <attribute name="environment" layout="${aspnet-environment:upperCase=true}"/>
        <attribute name="application" layout="${aspnet-item:variable=APPLICATION}"/>
        <attribute name="machinename" layout="${machinename}"/>
        <attribute name="local-ip" layout="${local-ip}"/>
        <attribute name="user-name" layout="${aspnet-user-identity}"/>
        <attribute name="callsec" layout="${aspnet-request-headers:HeaderNames=g-callsec:ValuesOnly=true}"/>
        <attribute name="callsec-id" layout="${aspnet-item:variable=g-callsec-id}"/>
        <attribute name="request-url" layout="${aspnet-request-url:IncludeHost=true:IncludeScheme=true:IncludeQueryString=true:IncludePort=true}"/>
        <attribute name="request-referrer" layout="${aspnet-request-referrer}"/>
        <attribute name="request-ip" layout="${aspnet-request-ip}"/>
        <attribute name="request-method" layout="${aspnet-request-method}"/>
        <attribute name="request-user-agent" layout="${aspnet-request-useragent}"/>
        <attribute name="request-headers" layout="${aspnet-request-headers:itemSeparator=${newline}}"/>
        <attribute name="request-cookie" layout="${aspnet-request-cookie}"/>
        <attribute name="request-form" layout="${aspnet-item:variable=CONTEXT_REQUEST_FORM}"/>
        <attribute name="request-body" layout="${aspnet-item:variable=CONTEXT_REQUEST_BODY}"/>
        <attribute name="response-statuscode" layout="${aspnet-response-statuscode}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="exception" layout="${onexception:inner=${exception:format=ToString}}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="Console" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole -->

    <logger name="*" minlevel="Error" writeTo="jsonFile" />
  </rules>
</nlog>