<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log"
      internalLogToConsoleError="true"
      throwExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
      archiveAboveSize="5242880"
      archiveNumbering="Sequence"
      maxArchiveFiles="10"
      archiveEvery="Day"
      concurrentWrites="true"
      keepFileOpen="false"
      layout="
==> date: ${longdate}${newline}
==> level: ${level:upperCase=true}${newline}
==> environment: ${aspnet-environment:upperCase=true}${newline}
==> application: ${aspnet-item:variable=APPLICATION}${newline}
==> machinename: ${machinename}${newline}
==> local-ip: ${local-ip}${newline}
==> user-name: ${aspnet-user-identity}${newline}
==> callsec: ${aspnet-request-headers:HeaderNames=g-callsec:ValuesOnly=true}${newline}
==> callsec-id: ${aspnet-item:variable=g-callsec-id}${newline}
==> request-url: ${aspnet-request-url:IncludeHost=true:IncludeScheme=true:IncludeQueryString=true:IncludePort=true}${newline}
==> request-referrer: ${aspnet-request-referrer}${newline}
==> request-ip: ${aspnet-request-ip}${newline}
==> request-method: ${aspnet-request-method}${newline}
==> request-user-agent: ${aspnet-request-useragent}${newline}
==> request-headers: ${aspnet-request-headers:itemSeparator=${newline}}${newline}
==> request-cookie: ${aspnet-request-cookie}${newline}
==> request-form: ${aspnet-item:variable=CONTEXT_REQUEST_FORM}${newline}
==> request-body: ${aspnet-item:variable=CONTEXT_REQUEST_BODY}${newline}
==> response-statuscode: ${aspnet-item:variable=CONTEXT_RESPONSE_STATUSCODE}${newline}
==> message: ${message}${newline}
==> exception: ${onexception:inner=${exception:format=ToString}}${newline}" />
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="Console" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole -->

    <logger name="*" minlevel="Error" writeTo="File" />
  </rules>
</nlog>