<div class="container">
    <h4>Подсказка по умолчанию</h4>
    <button i-tooltip tooltip="Описание действия">Действие</button>
    <br />
    <p>Большое описание</p>
    <button i-tooltip tooltip="А Герасим всё греб да греб. Вот уже Москва осталась назади. Вот уже потянулись по берегам луга, огороды, поля, рощи, показались избы. Повеяло деревней.">
        Действие
    </button>
    <p>Большое описание в одно слово</p>
    <button i-tooltip tooltip="Гиппопотомомонстросесквиппедалиофобия">
        Действие
    </button>
    <h4>Расположение</h4>
    <p>снизу</p>
    <button i-tooltip tooltip="Описание действия" position="below">Действие</button>
    <br />
    <p>слева</p>
    <button i-tooltip tooltip="Описание действия" position="left">Действие</button>
    <br />
    <p>сверху</p>
    <button i-tooltip tooltip="Описание действия" position="above">Действие</button>
    <br />
    <p>справа</p>
    <button i-tooltip tooltip="Описание действия" position="right">Действие</button>
</div>
