<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log"
      internalLogToConsoleError="true"
      throwExceptions="true">

  <variable name="DefaultLayout"
            value="${var:ENVIRONMENT}
            ${var:APPLICATION}
            ${longdate} 
            ${uppercase:${level}} ${machinename} ${message}
            ${onexception:inner=${newline}${exception:format=ToString}} 
            ${aspnet-request-url:IncludeHost=false:IncludeScheme=false}
            ${aspnet-request-ip}
            ${aspnet-request-referrer}
            ${callsite}         
            "/>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
      archiveAboveSize="5242880"
      archiveNumbering="Sequence"
      maxArchiveFiles="10"
      archiveEvery="Day"
      concurrentWrites="true"
      keepFileOpen="false"
      layout="${newline}NLOG-${machinename}-${date:format=yyyy.MM.dd}${newline}
==> date: ${longdate}${newline}
==> level: ${uppercase:${level}}${newline}
==> message: ${message}${newline}
==> environment: ${var:ENVIRONMENT}${newline}  
==> application: ${var:APPLICATION}${newline}
==> call-site: ${callsite}${newline}
==> request-body: ${aspnet-item:variable=REQUEST_BODY}${newline} 
==> request-headers: ${aspnet-item:variable=REQUEST_HEADERS} ${newline} 
==> exception: ${onexception:inner=${exception:format=ToString}}${newline}
==> exception-message: ${onexception:inner= ${exception:Message}}${newline}
==> request-url: ${aspnet-request-url:IncludeHost=true:IncludeScheme=true}${newline}
==> request-ip: ${aspnet-request-ip}${newline}
==> user-agent: ${aspnet-request-useragent} ${newline}
==> user-name: ${aspnet-item:variable=CONTEXT_USER_IDENTITY_NAME}${newline}
==> request-referrer: ${aspnet-request-referrer}${newline}
==> request-method: ${aspnet-request-method}${newline}" />
    
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="Console" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole -->

    <logger name="*" minlevel="Error" writeTo="File" />
  </rules>
</nlog>