<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log"
      internalLogToConsoleError="true"
      throwExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="File" xsi:type="File"
	    archiveAboveSize="5242880"
      archiveNumbering="Sequence"
      maxArchiveFiles="10"
      archiveEvery="Day"
      concurrentWrites="true"
      keepFileOpen="false"
	    fileName="${basedir}/logs/${machinename}-${shortdate}.json" >
      <layout xsi:type="JsonLayout" >
        <attribute name="date" layout="${longdate}"/>
        <attribute name="level" layout="${uppercase:${level}}"/>
        <attribute name="customer" layout="${environment:variable=INDUSOFT_CUSTOMER}"/>
        <attribute name="environment" layout="${environment:variable=INDUSOFT_ENVIRONMENT}"/>
        <attribute name="application" layout="${appdomain:format={1\}}"/>
        <attribute name="version" layout="${assembly-version}"/>
        <attribute name="machinename" layout="${machinename}"/>
        <attribute name="local-ip" layout="${local-ip}"/>
        <attribute name="user-name" layout="${aspnet-user-identity}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="callsec" layout="${aspnet-request-headers:HeaderNames=i-callsec:ValuesOnly=true}"/>
        <attribute name="callsec-id" layout="${aspnet-item:variable=i-callsec-id}"/>
        <attribute name="request-url" layout="${aspnet-request-url:IncludeHost=true:IncludeScheme=true:IncludeQueryString=true:IncludePort=true}"/>
        <attribute name="request-referrer" layout="${aspnet-request-referrer}"/>
        <attribute name="request-ip" layout="${aspnet-request-ip}"/>
        <attribute name="request-method" layout="${aspnet-request-method}"/>
        <attribute name="request-user-agent" layout="${aspnet-request-useragent}"/>
        <attribute name="request-headers" layout="${aspnet-request-headers:itemSeparator=${newline}}"/>
        <attribute name="request-cookie" layout="${aspnet-request-cookie}"/>
        <attribute name="request-form" layout="${aspnet-item:variable=CONTEXT_REQUEST_FORM}"/>
        <attribute name="request-body" layout="${aspnet-item:variable=CONTEXT_REQUEST_BODY}"/>
        <attribute name="response-statuscode" layout="${aspnet-response-statuscode}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="exception" layout="${onexception:inner=${exception:format=ToString}}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="File" />

    <!--Show http requests info with duration-->
    <logger name="Microsoft.AspNetCore.*" levels="Info" writeTo="File" />

    <!--Show EntityFramework queries with duration-->
    <logger name="Microsoft.EntityFrameworkCore.*" levels="Info" writeTo="File" />

    <!--Show Redis queries with duration-->
    <!--<logger name="Indusoft.*.Redis.*" levels="Trace,Info,Warn,Debug" writeTo="File" />-->

    <!--Show Cassandra queries with duration-->
    <!--<logger name="Indusoft.*.Cassandra.*" levels="Trace,Info,Warn,Debug" writeTo="File" />-->

    <!--Show Indusoft logs with duration-->
    <logger name="Indusoft.*" levels="Trace,Info,Warn,Debug" writeTo="File" />
  </rules>
</nlog>