<script id="usersSearchFilter" type="text/html">
    <form class="card">
        <div class="card-body">
            <div class="form-group row col-6">
                <div class="col-sm-4 col-form-label text-right">Дата создания с:</div>
                <div class="col-sm-8">
                    <b-datepicker v-model="createdDateFrom"
                                  start-weekday="1"
                                  v-on:input="input"
                                  placeholder="Выберите дату"
                                  nav-button-variant="primary"></b-datepicker>
                </div>
            </div>
            <b-overlay :show="false" no-wrap>
            </b-overlay>
        </div>
    </form>
</script>