<div class="i-container i-mt-2">
    <ul>
        <li>
            <button class="btn btn-primary button-margined i-mt-2" (click)="success()">Уведомление об успехе</button>
        </li>
        <li>
            <button class="btn btn-primary button-margined i-mt-2" (click)="info()">Информационное уведомление</button>
        </li>
        <li>
            <button class="btn btn-primary button-margined i-mt-2" (click)="warning()">Предупреждение</button>
        </li>
        <li>
            <button class="btn btn-primary button-margined i-mt-2" (click)="error()">Ошибка</button>
        </li>
    </ul>
</div>
